build/**
.DS_Store
*.txt
build.sh
/.idea/*

# Xcode user-specific data
xcuserdata/
*.xcuserstate
*.xcbkptlist

# Project/workspace-local user data
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/